
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <title>{{ page.title }}</title>
        <meta name="title" content="Eco-morphose : cultive des dynamiques écologiques morphosantes">
        <meta name="description" content="Une méthodologie humaine et sur-mesure pour dynamiser votre transition écologique et sociale... Osons imaginer ensemble comment lui faire prendre forme.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:title" content="Eco-morphose : cultive des dynamiques écologiques morphosantes">
        <meta property="og:description" content="Une méthodologie humaine et sur-mesure pour dynamiser votre transition écologique et sociale... Osons imaginer ensemble comment lui faire prendre forme.">
        <meta property="og:image" content="../assets/images/logos/logoMeta.svg">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ page.url }}">
        <meta property="twitter:title" content="Eco-morphose : cultive des dynamiques écologiques morphosantes">
        <meta property="twitter:description" content="Une méthodologie humaine et sur-mesure pour dynamiser votre transition écologique et sociale... Osons imaginer ensemble comment lui faire prendre forme.">
        <meta property="twitter:image" content="../assets/images/logos/logoMeta.svg">


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../assets/css/styles.css" />  
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    </head>
  <body>