@font-face {
    font-family: 'Axelle-Regular';
    src: url('../fonts/Axelle-Regular.otf');
}

body{
    font-family: 'Axelle-Regular', 'Arial', sans-serif;
    margin: 0;
    color: #2e2e2e;
}

/* mobile first responsive */

header > nav{
    background-color: white;
    box-shadow: lightgray 0 1px 1px;
    font-size: 32px;
    height: 91px;
}

nav .bg-white.collapse.show{
    position: absolute;
    top: 92px;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: #2e2e2e;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(0,0,0,.70);
    text-decoration: underline;
}

main{
    margin-top: 91px;
}

footer{
    min-height: 120px;
    background-color: #366448;
    color: white;
}

section{
    padding: 20px 20px 40px;
    font-size: 32px;
}

article{
    padding-bottom: 20px;
}

h1{
    font-size: 60px;
    margin: 20px 0;
    line-height: 50px;
}

h2{
    font-size: 35px;
    font-weight: normal;
    margin-top: 10px;
    word-spacing: 10px;
}


.red-text{
    color: #e77364;
}

.welcome-section{
    height: calc(100vh - 91px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-section img{
    width: 90%;
    min-width: 240px;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.see-more{
    color: #2e2e2e;
    text-decoration: none;
    border-bottom: 2px dashed #e77364;
}

.see-more:hover{
    color: #e77364;
}

.bg-lightgreen{
    background-color: #fffcef;
}

.bg-ligthgrey{
    background-color: #f9f9f9;
}

.bg-lightgreen h1, .bg-ligthgrey h1{
    color: #75b48d;
}

.home-picto{
    max-height: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.home-picto.position-absolute{
    z-index: 9;
    max-height: 230px;
}

.home-picto.arrosePousse{
    padding: 35px 0; 
}

.proposition .row{
    min-height: 250px;
}

.outils article p::before{
    content: 'o';
    padding-right: 10px;
}

.valeurs-ardoise{
    position: relative;
    width: 230px;
    margin: auto;
}

.valeurs-ardoise .home-picto{
    width: 230px;
    max-width: 100%;
    margin: 0 auto;
    max-height: 320px;
}

.valeurs-ardoise ul{
    position: absolute;
    z-index: 12;
    top: 56px;
    left: 32px;
    width: 150px;
    font-size: 32px;
}

.valeurs-ardoise li{
    line-height: 22px;
    margin-bottom: 20px;
}

.gens-ardoise-img{
    background-color: rgb(255, 252, 239);
    margin-bottom: -75px;
    width: 200px;
}

.liste-connaissances{
    margin: 25px 0;
    padding: 0;
    list-style-type: none;
}

.liste-connaissances li{
    padding: 25px 50px;
    border: 2px solid #e77364;
    border-radius: 50%;
    text-align: center;
    width: min-content;
    height: fit-content;
    /* background-color: #e773643d; */
    margin: 0 auto 15px;
}

.nous{
    position: relative;
    padding-top: 45px;
}

.nous h1{
    color: #75b48d;
    background-color: white;
    position: absolute;
    top: 15px;
    left: 21px;
    width: fit-content;
    padding: 6px;
}

.nous > div{
    padding: 25px 25px 10px;
    margin: 20px;
    border: 8px solid #fdf4d4;
    border-radius: 10px;
}

.contact-link{
    font-size: 50px;
    color: black;
}

.contact-link:last-of-type{
   text-decoration: none;
   line-height: 30px;
}

.contact-link:hover{
    color: #5dac7a;
}

.contact-link img{
    width: 240px;
    margin-top: -60px;
}

.contact-link-follow{
    font-size: 35px;
    margin-top: -80px;
    display: block;
    color: black;
}
.contact-link:hover .contact-link-follow{
    color: #75b48d;
}
.contact-link-follow > i{
    position: relative;
    top: 5px;
    font-size: 45px;
    color: #75b48d;
}

@media screen and (min-width: 768px) {
    section{
        padding: 20px 120px 40px;
    }

    .outils .row{
        padding: 0 80px;
    }

    .outils article p{
        padding-top: 25px;
    }

    .nous h1{
        left: 120px;
    }
}

@media screen and (min-width: 992px) {
    section{
        padding: 20px 180px 40px;
    }

    .see-more {
        font-size: 38px;
        border-bottom: 5px dashed #e77364;
    }

    .nous h1{
        left: 240px;
    }

    .outils article p{
        width: 80%;
    }

    .outils-left{
        border-right: 1px dashed #e77364;
    }

    .outils-right{
        border-left: 1px dashed #e77364;
    }

    .proposition .row{
        gap: 21px;
    }

    .proposition .col-lg-4{
        width: 32% !important;
    }
}